<div *ngIf="isAddWidget then buttonAddTodo; else buttonAddTask"></div>
<ng-template #buttonAddTodo>
  <div class="addTodo">
    <form>
      <input
        placeholder="Titel für Todo"
        [disabled]="inProgress"
        #titleTodo
        type="text"
        (keydown.enter)="addTodo(titleTodo, $event)"
        maxlength="15"
      >
      <button
        [disabled]="inProgress"
        type="button"
        name="buttonAddWidget"
        (click)="addTodo(titleTodo, $event)"
      ><span class="plusTodo">+</span> Erstellen</button>
    </form>
  </div>
</ng-template>

<ng-template #buttonAddTask>
  <div class="addTask">
    <form>
      <input
        placeholder="Titel für Task"
        [disabled]="inProgress"
        #titleTask type="text"
        (keydown.enter)="addTask(titleTask, $event)"
        maxlength="20"
      >
      <button
        [disabled]="inProgress"
        type="button"
        name="buttonAddTodoToWidget" (click)="addTask(titleTask, $event)"
      ><span class="plusTask">+</span></button>
    </form>
  </div>
</ng-template>

