.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
}

p {
  padding-right: 0.6rem;
  font-size: 0.9rem;
}

.isDone {
  text-decoration: line-through;
}

button {
  margin-left: 0.2rem;
}
