<div class="items">
  <div *ngIf="task?.isDone then isDone else isNotDone"></div>
  <ng-template #isDone>
    <p class="isDone">{{task?.title}}</p>
    <div class="buttons">
      <button
        [disabled]="inProgess"
        (click)="onCheck(task)"
      >Uncheck</button>
      <button
        [disabled]="inProgess"
        (click)="onDelete(task?.id)"
      >Delete</button>
    </div>
  </ng-template>
  <ng-template #isNotDone>
    <p>{{task?.title}}</p>
    <div class="buttons">
      <button
        [disabled]="inProgess"
        (click)="onCheck(task)"
      >Check</button>
      <button
        [disabled]="inProgess"
        (click)="onDelete(task?.id)"
      >Delete</button>
    </div>
  </ng-template>
</div>
